#!/usr/bin/env python

# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2018 FLIR Systems, INC
# SPDX-FileCopyrightText: 2018-2019 AutonomouStuff, LLC
# SPDX-FileCopyrightText: Czech Technical University in Prague

from dynamic_reconfigure.parameter_generator_catkin import (ParameterGenerator, int_t, double_t)

PACKAGE = 'flir_boson_usb'

gen = ParameterGenerator()

gen.add('point_x', int_t, 0, 'point x', 319, 0, 639)
gen.add('point_y', int_t, 0, 'point y', 255, 0, 511)
gen.add('max_temp_limit', int_t, 0, 'max temperature limit for 8bit image', 50, -273, 655 - 273)
gen.add('min_temp_limit', int_t, 0, 'min temperature limit for 8bit image', 20, -273, 655 - 273)
gen.add('norm_margin', double_t, 0, 'margin from min and max value for norm image', 20, 0, 120)

exit(gen.generate(PACKAGE, PACKAGE, 'BosonCamera'))
